#slide{
	width: auto;
	height: auto;
	margin-left: 50px;
	border-width: 20px
}
h3{
	text-align: center
}
p{
	text-align: justify; 
}
figure{
	float: left;
	margin-left: 100px;
}
.vertical-menu {
  width: 200px; /* Set a width if you like */
}

.vertical-menu a {
  background-color: #eee; /* Grey background color */
  color: black; /* Black text color */
  /* Make the links appear below each other */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove underline from links */
}

.vertical-menu a:hover {
  background-color: #ccc; /* Dark grey background on mouse-over */
}

.vertical-menu a.active {
  background-color: blue; /* Add a green color to the "active/current" link */
  color: white;
}
.page-item{
	width: 20%;
	height: 50%
}